@model IEnumerable<SampleProject.Models.ProductSample>
@{
    ViewBag.Title = "getPricebelowThousand";
}

<h2>getPricebelowThousand</h2>
<table class="table-bordered">
    <tr>
        <th> Product Name </th>
        <th> Brand </th>
        <th> Price</th>
        <th> Qty</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Pname</td>
            <td>@item.Supplier</td>
            <td>@item.Price</td>
            <td>@item.Qty</td>
        </tr>
    }
</table>

